
<!--This structure form navigation bar using list order when we click a button like (booklist,addbook,loginpage,feedback,profile,logout) 
  it will redirect to the its separate path -->
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  
  <ul class = "navbar-nav">
      <li class = "nav-item">
       
          <a *ngIf="loginService.isUserLoggedIn()" routerLink="books"  class="nav-link" >
            <button type="button" class="btn btn-primary"> Book List </button> </a>
      </li>
     
      <li class = "nav-item">
          <a *ngIf="loginService.isUserLoggedIn()" routerLink="create-book"  class="nav-link" >
            <button type="button" class="btn btn-primary"> Add Book </button> </a>
      </li>
      
      <!--If you login your page then you should access your books otherwise not visible -->
     <li class = "nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login"  class="nav-link" > 
          <button type="button" class="btn btn-primary">Login Page </button> </a>
    </li>
    
    <li class="nav-item">
      <a *ngIf="loginService.isUserLoggedIn()" routerLink="feedback"  class="nav-link">
        <button  type="button" class="btn btn-primary"> Feedback </button></a> 
     
    </li>
    
  </ul>
  
  <div class="collapse navbar-collapse"  id="navbarRightAlignExample">
  
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="profile" class="nav-link">
      <button    type="button" class="btn btn-primary"> Profile Card </button></a> 
   
</li>
</ul>
</div>
  
  <div class="collapse navbar-collapse"  id="navbarRightAlignExample">
  
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
    <li class="nav-item">
      
    <a *ngIf="loginService.isUserLoggedIn()">
      <button (click)="confirmLogout()"  class="btn btn-danger" >LogOut </button></a>
   
</li>
</ul>
</div>

</nav>


  
  

<!--It display your book tittle which you given in your component ts class-->
<h1 class="text-center" style="color:rgb(14, 7, 1)"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>




